<script>
	import {decks} from 'cards'

	let results = []
	let show = 1
	let shown = []

	const ranks = {
				'A' : 'in a field taller than you.',
				'2' : 'under the light of the moon(s).',
				'3' : 'by a gentle river.',
				'4' : 'in a steep canyon.',
				'5' : 'in a treetop.',
				'6' : 'on the snowy peak of a mountain.',
				'7' : 'near a volcano.',
				'8' : 'on a glacier.',
				'9' : 'deep underground.',
				'10' : 'on a cliff face.',
				'J' : 'in the desert.',
				'Q' : 'in deep water.',
				'K' : 'floating in the air.'
			}

	const suits = {
		'diamonds': 'People, like or unlike you,',
		'clubs': 'Plants or other immobile forms of life',
		'hearts': 'Ruins',
		'spades': 'Natural phenomena'
	}

	const getRandomInt = (max) => Math.floor(Math.random() * Math.floor(max))

	const prompt = () => {
		const deck = new decks.StandardDeck();
		deck.shuffleAll()
		const count = getRandomInt(6) + 1


		const hand = deck.draw(count)
		console.log(hand)



		results = hand.map(x => ({
			code: x.unicode,
			rank: x.rank.shortName,
			suit: x.suit.name,
			suitcode: x.suit.unicode,
			meaning: `${suits[x.suit.name]} ${ranks[x.rank.shortName]}`
		}))
		show = 1
		shown = results.slice(0,show)
	}

	const next = () => {
		if(show < results.length) show++;
		shown = results.slice(0,show)
	}

</script>

<style>
	a {
		color: rgb(236, 89, 0);
	}
	h1 {
		color: rgb(177, 49, 77);;
	}

	div.grid {

		padding: 0 3rem;
		grid-gap: 2rem;
		margin:auto;
		display:grid;
		max-width:1000px;
		height:100vh;
		grid-template-areas:
			"header  header"
			"desc    results"
			"footer  footer";
		grid-template-columns: 1fr 2fr;
		grid-template-rows: min-content 1fr min-content;
		align-items:top;
		font-size:1.5rem;
	}
	h1 {
		grid-area: header;
	}
	div.desc {
		grid-area: desc;
	}
	div.results {
		grid-area:results;
	}
	footer {
		grid-area: footer;
		padding: 1rem 0;
		font-size:1rem;
	}
	button {
		width:100%;
		cursor:pointer;
	}
	li .hearts, li .diamonds{
		color: red;

	}
	ul {
		list-style-type: none;
    	padding-inline-start: 0;
	}
</style>



<div class="grid">
<h1>Among the Stars Helper</h1>
<div class="desc"><a href="https://noroadhome.itch.io/alone-among-the-stars">Alone Among the Stars</a> is a single-player creativity game created by Takuma Okada. This is a quick tool created by Joe Tortuga to trigger the writing prompts automatically. It doesn't explain what you should do or what the prompts mean. For that, get your own copy from itch.io</div>

<div class="results">
	{#if results.length}
		You made {results.length} {results.length==1 ? 'discovery' :'discoveries'}!
		<ul>
		{#each shown as result}
			<li>
				{result.rank}<span class="{result.suit}">{result.suitcode}</span> {result.meaning}
			</li>
		{/each}
		</ul>
		{#if show < results.length}
			<button on:click={next}>Next discovery</button>
		{:else}
			<button on:click={prompt}>Explore a new planet</button>
		{/if}
	{:else}
		<button on:click={prompt}>Explore!</button>
	{/if}


</div>
<footer>Creted with <a href="https://svelte.dev/">Svelte</a>; code by <a href="https://twitter.com/JoeTortuga">Joe Tortuga</a>.<br/><em>Alone Among the Stars</em> by <a href="https://noroadhome.itch.io/">Takuma Okada</a>.</footer>
</div>


